
.barr{
    padding: 5px;
    margin: 20px ;
}
.input{
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
   
}
.full1{
    height: 30px;
    width: 80%;
    margin: 0 auto;
}
.full{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    font-size: large;
}
#dateCursor{
    cursor: text;
}
#butt{
    border-radius: 15px;
    background:green;
    
}
